# Ignore node_modules directory
node_modules/
test/

# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log
yarn-error.log

# Ignore .env file (if you have sensitive information)
.env
.env.local

# Ignore dist
dist/

# Ignore packed files
*.tgz